/* ===== Font & Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #e2e8f0;
    font-size: 15px; /* font diperkecil */
    animation: fadeIn 0.6s ease forwards;
}

/* Sidebar fix agar tidak ikut scroll */
.sidebar {
    width: 260px;
    height: 100vh; /* full tinggi layar */
    position: fixed; /* supaya diam */
    top: 0;
    left: 0;
    overflow-y: auto; /* kalau menu banyak tetap bisa digeser */
    background: #18283d;
    color: white;
}

/* Biar konten geser ke kanan dan tidak tertutup sidebar */
.content {
    margin-left: 260px;
    padding: 20px;
    width: calc(100% - 260px);
    background-color: #ffff;
}

.sidebar h4 {
    color: #f8fafc;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 16px;
}

.sidebar .nav-link {
    color: #cbd5e1;
    padding: 10px 15px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}

.sidebar .nav-link:hover {
    color: #ffffff;
    font-size: 16px;
}

.sidebar .nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

/* ===== Content ===== */
.content {
    flex: 1;
    padding: 30px;
    background-color: #ffffff; /* putih bersih */
    color: #1e293b; /* teks jadi gelap biar kontras */
    animation: contentAppear 0.5s ease forwards;
}

/* ===== Card ===== */
.card {
    background-color: #f8fafc !important;
    color: #1e293b !important;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: #fff;
}

  /* Hover underline animation */
    .nav-link::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #d2d1d0;
      transition: width 0.3s ease;
    }

